* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 17px;
	/* font-weight: bold; */
}

window#waybar {
	/* background-color: rgba(50, 50, 50, 0.7); */
	/* background-color: #6e2ca0; */
	background-color: #000;
	/* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
	/* color: #ffffff; */
	color: #fbf1c7;
	transition-property: background-color;
	transition-duration: .5s;
	/* padding-bottom: 10px; */
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	/* box-shadow: inset 0 -3px transparent; */
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
	color: #fbf1c7;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
	padding: 0 3px;
	background-color: #1c0030;
	/* color: #ffffff; */
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
	background-color: #6e2ca0;
	/* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	/* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-docker,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	padding: 0 8px 3px 8px;
}

#mpris {
	margin: 0 12px;
}

#window {
	margin: 0 12px;
}

#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
	background-color: #f53c3c;
	/* color: #ffffff; */
}

#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

label:focus {
	background-color: #000000;
}

#custom-media {
	/* background-color: #66cc99; */
	color: #2a5c45;
	min-width: 100px;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state > label {
	padding: 0 5px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
